

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">League of Legends</h1>
                    <p class="intro-text">League of Legends World Championship 2015.<br>Created with Bootstrap.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="content">
    <% include home/section/tabs.ejs %>
</div>



