<!-- About Section -->
<section id="tabs" class="container content-section" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="lol-logo-smaller"></div>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Worlds</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Who</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">What</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="height: 800px;">
                    <div role="tabpanel" class="tab-pane active" id="home">
                         October marks the climax of every League of Legends Season: Worlds. As we get closer and closer to the 2015 World Championship, matches come in a flurry, and sometimes it's hard to keep track of what's happening. Many teams have played through Regionals and punched their ticket in the past few weeks, and we're here to help you catch up if you need a refresher.
						<div class="worlds"></div>
					</div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <h2>Who is playing at Worlds?</h2>
						<p>Top teams from Korea, China, Taiwan/Hong Kong/Macau, North America, and Europe receive direct invitations to Worlds, while squads from Wildcard regions qualify via an International Wildcard Tournament.</p>

						<p>Three teams from North America, Europe, Korea, and China qualify, while two from Taiwan/Hong Kong/Macau qualify. Two teams from International Wildcard regions qualify.</p>

						<p>The teams attending Worlds are:</p>

						Korea:<br>

						SKTelecom T1<br>
						KOO Tigers<br>
						KT Rolster<br><br>
						China:<br>

						LGD Gaming<br>
						Edward Gaming<br>
						Invictus Gaming<br><br>
						Taiwan / Hong Kong / Macau:<br>

						ahq e-Sports Club<br>
						Flash Wolves<br><br>
						North America:<br>

						Counter Logic Gaming<br>
						Team SoloMid<br>
						Cloud9<br><br>
						Europe:<br>

						Fnatic<br>
						H2K<br>
						Origen<br><br>
						International Wildcard Qualifiers:<br>

						Bangkok Titans<br>
						paiN Gaming<br>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <h2>What are they playing for?</h2>
						<p>In addition to international pride and glory, teams are competing for the chance to be the 2015 World Champions, the Summoner's Cup, and a prize pool of over $2,000,000 USD. Teams will earn prize money based on their finish in the event.</p>

						World Champion - $1,000,000 USD<br>
						2nd place - $250,000 USD<br>
						3rd / 4th place - $150,000 USD<br>
						5th - 8th place - $75,000 USD<br>
						9th - 12th place - $45,000 USD<br>
						13th - 16th place - $25,000 USD<br>
						
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
